#table-father {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
.td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

.th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
.tr:nth-child(even) {
    background-color: #dddddd;
  }


#add-book{
  width: 400px;
  margin: 0 auto;
}

#add-book input{
  display: block;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
  width: 300px;
  float: left;
}

#add-book button{
  border: 1px solid #9361bf;
  background: #9361bf;
  padding: 10px 20px;
  font-size: 16px;
  display: inline-block;
  margin: 0;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  width: 100px;
  float: left;
  margin: 20px 0;
  border-left: 0;
  color: white;
}

#add-book:after{
  content: '';
  display: block;
  clear: both;
}

.id {
  display: none;
}
